body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  text-align: center;
}
.button {
  font: inherit;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background: #fb565a;
  vertical-align: center;
  border: none;
}
.button:hover,
.button:focus {
  background: #e74246;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  background-color: #eeeeee;
}
fieldset {
  border: none;
}
.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
}
.button-filter {
  background: #eeeeee;
  color: #000000;
}
.button-filter:hover,
.button-filter:focus {
  background: #dfdfdf;
}
.page {
  font: inherit;
  line-height: 18px;
  background: #eeeeee;
  border: solid 3px #dbdbdb;
}
.page:hover,
.page:focus {
  background: #dfdfdf;
}
.price:hover,
.price:focus {
  background: #e74246;
}
.site-navigation,
.offers ul,
.features-list ul,
.feature-item ul,
.logos,
.main-footer ul {
  list-style: none;
}
.main-navigation a:hover,
.main-navigation a:focus,
.name-websit:hover,
.name-websit:focus {
  color: #fb565a;
}
.sorting {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.advantage {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.more {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
}
.rang {
  line-height: 22px;
  color: #283136;
}
.filter-item {
  line-height: 20px;
  color: #283136;
}
.more:hover,
.more:focus,
.button-web:hover,
.button-web:focus {
  background-color: #e74246;
}
.sorting-item {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.sorting-item:hover,
.sorting-item:focus {
  color: #dfdfdf;
}
.button-applications:hover,
.button-applications:focus {
  background-color: #00bc6c;
}
.button-presentations:hover,
.button-presentations:focus {
  background-color: #eab534;
}
.offers h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.slide {
  background: transparent;
}
.button-applications {
  background: #00ca74;
}
.button-presentations {
  background: #efc84a;
}

h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.features-list span,
.feature-item span {
  font-weight: bold;
  text-transform: uppercase;
}
.feature-item li:first-child {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
}
.feature-item li:nth-child(2n),
.modal {
  line-height: 18px;
}
.modal h3,
.filter {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.clouse {
  background: #ffffff;
}
.offers p {
  font: inherit;
  line-height: 18px;
  color: #666666;
}
.feedback {
  font: inherit;
  line-height: 18px;
  font-weight: bold;
}
.feedback input:focus {
  border: solid 2px #000000;
}
.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.main-footer p {
  line-height: 22px;
  color: #444444;
}
.main-footer a:hover,
.main-footer a:focus {
  background-color: #e74246;
}
.social-button {
  color: white;
  background: #e1e1e1;
}

