body {
  margin: auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  width: 100%;
  /*max-width: 1440px;*/
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  height: auto;
}
.heading-1 {
  text-align: center;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 108px;
  padding-top: 56px;
  line-height: 55px;
}
.heading-2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button {
  font: inherit;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background: #fb565a;
  vertical-align: middle;
  border: none;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 18px;
  border-radius: 3%;
}
.button:hover,
.button:focus {
  background: #e74246;
}
.button:active {
  background: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  background-color: #eeeeee;
}
.no-frame {
  border: none;
}
.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 202px;
  padding: 0;
  margin-top: 25px;
}
.site-navigation li {
  padding: 0;
  margin-right: 45px;
  padding-bottom: 3px;
}
.site-navigation li:nth-child(2) {
  margin-right: 48px;
}
.site-navigation li:last-child {
  margin: 0;
}
.advantage-slides {
  margin: 0;
  margin-top: 7px;
  padding-bottom: 0;
  position: relative;
}
.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 412px;
  padding-top: 61px;
  margin-right: 19px;
  padding-bottom: 80px;
}
.advantage span {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  width: 515px;
}
.advantage p {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 38px;
}
.slide {
  display: none;
  position: relative;
}
.slide-1:focus ~ .advantage-slides label[for="slide-1"],
.slide-2:focus ~ .advantage-slides label[for="slide-2"],
.slide-3:focus ~ .advantage-slides label[for="slide-3"],
.slide-1:hover ~ .advantage-slides label[for="slide-1"],
.slide-2:hover ~ .advantage-slides label[for="slide-2"],
.slide-3:hover ~ .advantage-slides label[for="slide-3"]{
  opacity: 0.3;
  background: #000000;
}
.advantage-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.advantage-img img {
  height: 414px;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  bottom: 80px;
  left: 564px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.controls li {
  margin-right: 17px;
}
.controls label {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  font-size: 0;
  cursor: pointer;
}
.slide-1:checked ~ .advantage-slides .slide-1,
.slide-2:checked ~ .advantage-slides .slide-2,
.slide-3:checked ~ .advantage-slides .slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.slide-1:checked ~ .advantage-slides label[for="slide-1"]::before,
.slide-2:checked ~ .advantage-slides label[for="slide-2"]::before,
.slide-3:checked ~ .advantage-slides label[for="slide-3"]::before {
  content: '';
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slide-2 img {
  margin-left: 70px;
  width: 659px;
}
.slide-3 img {
  margin-left: -28px;
  width: 757px;
}
.more {
  width: 240px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 14px;
}
.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 40px;
}
.offers .offers-card {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 40px;
  position: relative;
}
.offers li:last-child {
  margin-right: 0;
}
.offers-card p {
  margin-top: 16px;
  padding-bottom: 67px;
  width: 245px;
}
.button-card {
  width: 160px;
  display: block;
  position: absolute;
  bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}
.button-filter {
  background: #eeeeee;
  color: #000000;
  margin-top: 4px;
  padding-bottom: 14px;
  padding-top: 17px;
}
.button-filter:hover,
.button-filter:focus {
  background: #dfdfdf;
}
.button-filter:active,
.page:active {
  background: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  outline: none;
}
.page:hover,
.page:focus {
  background: #dfdfdf;
}
.price:active {
  background: #d7373b;
  color: #ffffff;
}
.cart-link:active,
.cart:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation,
.features-list ul,
.interest-item,
.logos,
.offers,
.main-footer ul,
.sorting-templates ul,
.form-filters ul,
.controls {
  list-style: none;
}
.filter-design li {
  padding-left: 36px;
  position: relative;
}
.up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
}
.down {
  margin-right: 18px;
}
.filter-item input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: -35px;
  width: 26px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.filter-item input[type="checkbox"]:enabled:focus + .checkbox-indicator,
.filter-item input[type="checkbox"]:enabled:hover + .checkbox-indicator,
.filter-item input[type="radio"]:enabled:focus + .checkbox-indicator,
.filter-item input[type="radio"]:enabled:hover + .checkbox-indicator {
  opacity: 1;
}
.filter-item input[type="checkbox"] + span,
.filter-item input[type="radio"] + span {
  opacity: 0.4;
}
.filter-item input[type="checkbox"]:disabled ~ span,
.filter-item input[type="radio"]:disabled  ~ span {
  opacity: 0.1;
}
.filter-item input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 26px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-on.svg);
  background-repeat: no-repeat;
}
.filter-item input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: -35px;
  width: 18px;
  height: 18px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.filter-item input[type="radio"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border: 2px solid #4d4d4d;
  background-color: #4d4d4d;
  border-radius: 50%;
  display: block;
}
.feature-item ul {
  padding-left: 0;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 72px;
}
.description {
  width: 650px;
  margin-top: 34px;
}
.description h2 {
  margin: 0;
}
.description p {
  margin-top: 33px;
  margin-bottom: 39px;
}
.features-list ul {
  padding: 0;
  margin: 0;
  padding-left: 37px;
}
.features-list li {
  margin-top: 24px;
  position: relative;
}
.features-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -37px;
  top: 10px;
  background: #fb565a;
}
.logo-item {
  width: 360px;
}
.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.feature-item span {
  margin-top: 28px;
  margin-bottom: 41px;
  text-align: center;
  padding-left: 5px;
}
.interest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.interest-item {
  margin: 0;
  margin-right: 26px;
}
.interest-item sup {
  font-size: 61%;
}
.interest-item li {
  width: 93px;
}
.interest-item li:last-child {
  margin-top: 19px;
  line-height: 18px;
}
.current {
  border-bottom: 2px solid #fb565a;
}
.main-navigation a:hover,
.main-navigation a:focus,
.name-websit:hover,
.name-websit:focus {
  color: #fb565a;
}
.name-websit:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation a:first-child:focus,
.main-navigation a:first-child:hover {
  opacity: 0.8;
}
.main-navigation a:first-child:active {
  opacity: 0.3;
}
.sort-header {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-right: 40px;
  text-transform: uppercase;
  vertical-align: top;
}
.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  border-bottom: 2px solid #eeeeee;
  position: relative;
}
.logo {
  opacity: 0.2;
}
.logo:focus,
.logo:hover {
  opacity: 1;
}
.logo:active {
  opacity: 0.1;
}
.logos li {
  position: relative;
  margin-bottom: 36px;
  padding-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logos .htmlacdemy {
  padding-top: 53px;
  padding-left: 31px;
  padding-right: 51px;
}
.logos .borodinsli {
  padding-left: 45px;
  padding-right: 46px;
}
.logos .pink {
  padding-top: 43px;
  padding-left: 57px;
  padding-right: 58px;
}
.logos .mishka {
  padding-top: 51px;
  padding-left: 63px;
}
.logos li::after {
  content: "";
  border-left: 2px solid #eeeeee;
  height: 52px;
  position: absolute;
  top: 63%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.logos li:last-child::after {
  display: none;
}
.button-card:active {
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.more:hover,
.more:focus,
.button-web:hover,
.button-web:focus {
  background-color: #e74246;
}
.sorting-item {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding-left: 1px;
  opacity: 0.3;
  text-transform: uppercase;
  display: block;
}
.sorting-item:hover,
.sorting-item:focus {
  opacity: 0.6;
}
.sorting-item:active,
.current-item {
  opacity: 1;
}
.button-applications:hover,
.button-applications:focus {
  background-color: #00bc6c;
}
.button-presentations:hover,
.button-presentations:focus {
  background-color: #eab534;
}
.offers h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-top: 18px;
}
.button-applications {
  background: #00ca74;
}
.button-presentations {
  background: #efc84a;
}
.features-list span,
.feature-item span {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.1px;
}
.feature-item li:first-child {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}
.map {
  line-height: 18px;
  position: relative;
  width: 100%;
}
.map img {
  position: absolute;
}
.map iframe {
  position: absolute;
  border: none;
  z-index: 1;
  width: 100%;
  min-width: 1200px;
  height: 100%;
}
.maps {
  max-width: 1440px;
}
.map-picture {
  width: 100%;
  min-width: 1200px;
  height: 100%;
}
.map-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 2;
  padding-top: 55px;
  padding-bottom: 54px;
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  width: 320px;
  padding: 50px;
  padding-top: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact h3 {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  margin-top: -7px;
}
.contact-address-tel {
  margin: 0;
  width: 205px;
}
.contact-address {
  margin: 0;
  padding-left: 1px;
}
.contact-tel {
  margin-top: 18px;
  padding-left: 2px;
  display: block;
}
.button-address {
  width: 219px;
  margin-top: 37px;
  padding-bottom: 15px;
  padding-top: 17px;
}
.map-point {
  margin-top: 34px;
  margin-left: 680px;
}
.map-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.modal h3,
.filter {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
}
@-webkit-keyframes bounce {
  0% {
    margin-top: -2000px;
  }

  70% {
    margin-top: 30px;
  }

  90% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0;
  }
}
@keyframes bounce {
  0% {
    margin-top: -2000px;
  }

  70% {
    margin-top: 30px;
  }

  90% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 758px;
  padding: 73px 100px;
  z-index: 3;
  background: white;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}
.modal-close {
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 73px;
  right: 100px;
  background: white;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #e74246;
  opacity: 0.3;
  top: 9px;
  left: 2px;
}
.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  opacity: 1;
}
.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}
.modal-close:active {
  border: none;
  background-color: white;
  outline: none;
}
.offers p,
.definition {
  font: inherit;
  line-height: 24px;
  color: #666666;
}
.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font: inherit;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.feedback-name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feedback-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 36px;
  width: 360px;
}
.feedback-info label {
  margin-bottom: 12px;
}
.feedback-info input[type="text"],
.feedback-info input[type="email"],
.feedback-info textarea {
  color: rgba(68, 68, 68, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: solid 2px #d7dcde;
  padding: 17px 15px;
}
.feedback-info input:focus,
.feedback-info textarea:focus {
  border: solid 2px #000000;
  color: #444444;
}
.feedback-info input:hover,
.feedback-info textarea:hover {
  border: solid 2px #b4b9bb;
}
.feedback-info input:invalid {
  border: solid 2px #e74246;
  color: #e74246;
}
.feedback-info textarea {
  height: 118px;
  resize: vertical;
}
.feedback-letter {
  width: 100%;
}
.feedback-info:nth-child(odd) {
  margin-right: 40px;
}
.feedback-button {
  margin-top: 11px;
  width: 260px;
}
.feedback-head {
  margin-top: 0;
}
.feedback input:focus {
  border: solid 2px #000000;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  margin-bottom: 69px;
}
.main-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 138px;
  padding: 0;
}
.main-footer li {
  margin-right: 12px;
  margin-bottom: 12px;
}
.main-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-footer li:last-child {
  margin-right: 0;
}
.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.1px;
}
.main-footer p {
  line-height: 22px;
  color: #444444;
}
.social-button {
  color: white;
  background-color: #e1e1e1;
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
.social-button:focus,
.social-button:hover {
  background-color: #e74246;
}
.social-button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.vk:active::after,
.facebook:active::after,
.instagram:active::after {
  opacity: 0.3;
}
.vk::after,
.facebook::after,
.instagram::after {
  content: "";
  background-repeat: no-repeat;
  margin: auto;
  display: block;
}
.vk::after {
  background-image: url("../img/index/vk-icon.svg");
  width: 28px;
  height: 17px;
}
.facebook::after {
  background-image: url("../img/index/fb-icon.svg");
  width: 15px;
  height: 25px;
}
.instagram::after {
  background-image: url("../img/index/insta-icon.svg");
  width: 25px;
  height: 25px;
}
.patterns-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
}
.filters {
  margin-right: 140px;
  width: 261px;
}
.form-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* Chrome, Safari, Edge, Opera */
.form-filters input::-webkit-outer-spin-button,
.form-filters input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
  outline: none;
}

/* Firefox */
.form-filters input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.grid {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}
.filter {
  margin-bottom: 14px;
}
.grid ul{
  padding: 0;
  margin: 0;
}
.grid li {
  margin-bottom: 16px;
}
.sorting-templates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 55px;
  margin-top: 4px;
}
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 44px;
  padding: 0;
}
.sort li {
  margin-right: 26px;
}
.sort-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 2px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sort-up-down li:last-child {
  margin-right: 0;
}
.patterns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  width: 762px;
}
.patterns li {
  width: 360px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.browser img{
  padding-top: 40px;
  border: solid 1px rgba(77, 77, 77, 0.1);
}
.browser::before {
  content: "";
  position: absolute;
  width: 361px;
  height: 41px;
  background: #666666;
  border-radius: 5px 5px 0 0;
  opacity: 0.12;
}
.browser:hover::before,
.browser:hover::before {
  opacity: 1;
}
.browser::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  left: 16px;
  top: 12px;
  -webkit-box-shadow: 22px 0 0 0 white,
  44px 0 0 0 white;
  box-shadow: 22px 0 0 0 white,
  44px 0 0 0 white;
}
.patterns-info {
  /*display: none;*/
  position: absolute;
  bottom: 0;
  width: 360px;
  background-color: #eeeeee;
  border: solid 1px rgba(77, 77, 77, 0.1);
}
.browser:focus .patterns-info,
.browser:hover .patterns-info,
.browser:focus,
.browser:hover {
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}
.patterns-info h3 {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
}
.patterns li:nth-child(odd) {
  margin-right: 40px;
}
.definition {
  margin: 0 auto;
  width: 227px;
  text-align: center;
  line-height: 18px;
}
.definition-sedona {
  width: 178px;
  line-height: 18px;
}
.definition-barbershop {
  width: 167px;
}
.definition-mishka {
  width: 138px;
}
.price {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 29px;
  margin-bottom: 45px;
  padding-top: 18px;
  padding-bottom: 14px;
}
.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 60px;
}
.page {
  font: inherit;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page:focus {
  background: #dfdfdf;
}
.pages li {
  width: 50px;
  height: 50px;
  margin-right: 11px;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pages li:last-child {
  width: 260px;
  background: #eeeeee;
}
.pages .page-active {
  background: #ffffff;
  border: solid 3px #dbdbdb;
  width: 45px;
  height: 45px;
}
.cart-link {
  padding-left: 50px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-top: 25px;
}
.cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 10px;
  background-image: url("../img/index/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.addition {
  margin-top: 7px;
}
.addition p {
  margin-top: 8px;
}
.filter-item {
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  margin-bottom: 53px;
  border: none;
  position: relative;
  cursor: pointer;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 12px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
  margin-top: 15px;
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 62px;
  letter-spacing: 1px;
  padding: 7px 8px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -o-linear-gradient(top, white, black);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: linear-gradient(to bottom, white, black);
}
