body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000000;
}
h1 {
  text-align: center;
  color: #000000;
}
h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.centering {
  margin: 0 140px;
}
.button {
  font: inherit;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  background: #fb565a;
  vertical-align: middle;
  border: none;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 18px;
}
.button:hover,
.button:focus {
  background: #e74246;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  background-color: #eeeeee;
}
fieldset {
  border: none;
}
.header h1 {
  margin: 0;
  padding-bottom: 116px;
  padding-top: 82px;
}
.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  width: 600px;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 245px;
  padding: 0;
}
.site-navigation a {
  margin: 0 22px;
}
.advantage-slides {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 18px;
  padding-bottom: 0;
  margin-right: 31px;
}
.advantage {
  display: flex;
  flex-direction: column;
  width: 378px;
  padding-top: 49px;
  margin-right: 110px;
}
.slides {
  width: 700px;
  position: relative;
}
.advantage p {
  padding-top: 28px;
  padding-bottom: 42px;
}
.more {
  width: 240px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 18px;
}
.slide {
  background: transparent;
  position: absolute;
  left: 100px;
  bottom: 100px;
  display: flex;
}
.slide-button{
  margin-right: 17px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}
.offers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.offers-card {
  width: 300px;
  margin-right: 100px;
}
.offers-card p {
  margin: 26px 0;
  width: 245px;
}
.button-card {
  width: 160px;
}
.button-filter {
  background: #eeeeee;
  color: #000000;
}
.button-filter:hover,
.button-filter:focus {
  background: #dfdfdf;
}
.page {
  font: inherit;
  line-height: 18px;
  background: #eeeeee;
  border: solid 3px #dbdbdb;
  color: #000000;
  vertical-align: middle;
}
.line {
  border-top:2px solid #eeeeee;
  height:100%;
}
.line-1 {
  margin-top:80px;
}
.line-2 {
  margin-top:76px;
  margin-bottom: 46px;
}
.line-3 {
  margin-bottom: 80px;
}
.page:hover,
.page:focus {
  background: #dfdfdf;
}
.price:hover,
.price:focus {
  background: #e74246;
}
.site-navigation a:active,
.cart:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation,
.features-list ul,
.interest-item,
.logos,
.main-footer ul,
.sorting-templates ul,
.cart,
.form-filters ul {
  list-style: none;
}
.feature-item ul {
  padding-left: 0;
}
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.description {
  width: 650px;
  margin-top: 40px;
}
.description h2 {
  margin: 0;
}
.description p {
  margin-top: 35px;
  margin-bottom: 47px;
}
.features-list li {
  margin-top: 30px;
}
.logo-item {
  width: 360px;
}
.feature-item {
  display: flex;
  flex-direction: column;
}
.feature-item span {
  margin-top: 41px;
  margin-bottom: 49px;
  text-align: center;
}
.interest {
  display: flex;
}
.interest-item {
  margin: 0;
  margin-right: 26px;
}
.interest-item li:last-child {
  margin-top: 20px;
}
.main-navigation a:hover,
.main-navigation a:focus,
.name-websit:hover,
.name-websit:focus {
  color: #fb565a;
}
.sort-header {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  width: 360px;
  margin: 0;
  margin-right: 40px;
  text-transform: uppercase;
  vertical-align: top;
}
.advantage span {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.logos {
  display: flex;
  justify-content: center;
  margin-left: 31px;
  margin-top: 46px;
  margin-bottom: 44px;
  padding: 0;
}
.htmlacademy {
  margin-right: 96px;
  width: 199px;
}
.borodinski {
  margin-right: 103px;
  width: 209px;
}
.pink {
  margin-right: 121px;
  width: 185px;
}
.mishka {
  width: 173px;
}
.logo::after {
  content: "";
  border-left: 2px solid #eeeeee;
}
/*
.rang {
  line-height: 22px;
}
*/
.filter-item {
  line-height: 20px;
}
.more:hover,
.more:focus,
.button-web:hover,
.button-web:focus {
  background-color: #e74246;
}
.sorting-item {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.sorting-item:hover,
.sorting-item:focus {
  color: rgba(0, 0, 0, 0.6);
}
.button-applications:hover,
.button-applications:focus {
  background-color: #00bc6c;
}
.button-presentations:hover,
.button-presentations:focus {
  background-color: #eab534;
}
.offers h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.button-applications {
  background: #00ca74;
}
.button-presentations {
  background: #efc84a;
}
.features-list span,
.feature-item span {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
.feature-item li:first-child {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}
.modal {
  line-height: 18px;
  position: relative;
}
.contact {
  position: absolute;
  left: 140px;
  top: 54px;
  background-color: white;
  width: 220px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-top: 54px;
}
.contact h3 {
  margin: 0;
}
.address {
  margin-bottom: 37px;
  width: 205px;
}

.button-address {
  width: 219px;
}
.logo-small {
  position: absolute;
  right: 448px;
  top: 89px;
}
.pop-up h3,
.filter {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}
.close {
  background: #ffffff;
}
.offers p,
.definition {
  font: inherit;
  line-height: 18px;
  color: #666666;
}
.feedback {
  font: inherit;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.feedback input:focus {
  border: solid 2px #000000;
}
.main-footer {
  display: flex;
  margin-top: 69px;
  margin-bottom: 69px;
}
.main-footer ul {
  display: flex;
  margin-right: 139px;
  padding: 0;
}
.main-footer li {
  margin-right: 12px;
}
.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}
.main-footer p {
  line-height: 22px;
  color: #444444;
}
.main-footer a:hover,
.main-footer a:focus {
  background-color: #e74246;
}
.social-button {
  color: white;
  background: #e1e1e1;
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
.vk {
  background-image: url("../img/index/vk-icon.svg");
  background-repeat: no-repeat;
}
.facebook {
  background-image: url("../img/index/fb-icon.svg");
  background-repeat: no-repeat;
}
.instagram {
  background-image: url("../img/index/insta-icon.svg");
  background-repeat: no-repeat;
}
.logo::after {
  content: "";
  border-left: 2px solid #eeeeee;
  display: block;
  width: 100px;
  height: 20px;
}
.patterns-sorting {
  display: flex;
  margin-top: 60px;
}
.filters {
  margin-right: 140px;
  width: 261px;
}
.form-filters {
  display: flex;
  flex-direction: column;
}
/*
.cost {
  margin-bottom: 52px;
}
*/
.grid {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.filter {
  margin-bottom: 21px;
}
.grid ul{
  padding: 0;
  margin: 0;
}
.grid li {
  margin-bottom: 15px;
}
.sorting-templates {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.sorting {
  display: flex;
  margin-bottom: 56px;
}
.sort {
  display: flex;
  margin: 0;
  padding: 0;
}
.sort li {
  margin-right: 26px;
}
.sort-up-down {
  display: flex;
  width: 360px;
  justify-content: space-between;
}
.patterns {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.patterns li:first-child {
  position: relative;
}
.patterns li {
  width: 360px;
  margin-bottom: 30px;
}
.patterns-info {
  position: absolute;
  width: 360px;
  top: 320px;
  background-color: white;
}
.patterns-info h3 {
  margin: 0;
  margin-top: 71px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}
.patterns li:nth-child(odd) {
  margin-right: 40px;
}
.definition {
  margin: 0;
  width: 176px;
  text-align: center;
}
.price {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 43px;
}
.pages {
  display: flex;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}
.page-item {
  display: block;
  margin-right: 11px;
  width: 50px;
  height: 50px;
}
.page-next {
  display: block;
  width: 260px;
  height: 50px;
}
.cart-link {
  padding-left: 41px;
  position: relative;
  display: block;
}
.cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 10px;
  background-image: url("../img/index/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.addition {
  margin-top: 9px;
}
.addition p {
  margin: 0;
  margin-top: 12px;
}
.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 56px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
